@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
}

.burgerMenu:hover div div {
  background-color: rgb(134 239 172);
}

:root {
  --rolex-gold: rgba(163, 126, 44);
  --rolex-green: rgba(0, 96, 57);
  --green: rgba(18, 119, 73);
  --dark-green: rgba(11, 62, 39);
  --light-green: rgba(36, 154, 100);
  --light-black: rgba(33, 33, 33);
  --dark-grey: rgba(118, 118, 118);
  --grey: rgba(212, 212, 212);
  --alternate-grey: rgba(216, 216, 216);
  --light-grey: rgba(248, 248, 248);
  --pure-white: rgba(255, 255, 255);
  --ocean-green: rgba(97, 189, 147);
  --focus: var(--light-green);
  --gradient-green-from: rgba(16, 99, 61);
  --gradient-green-to: rgba(26, 145, 90);
  --gradient-dark-green-from: rgba(12, 76, 47);
  --gradient-dark-green-to: rgba(20, 115, 72);
}